%% ── IT 技能 ───────────────────────────────────────────────────────────────
\section{\faCogs\ IT 技能}

\begin{itemize}[parsep=0.5ex]
{% for item in skills %}
  \item {{ item }}
{% endfor %}
\end{itemize}
